@page "/"

<PageTitle>Index</PageTitle>

<h1>Welcome</h1>

<head>
    <link rel="stylesheet" href="Index.razor.css">
</head>

<div>
    <h2> Your Projects </h2>
    <div class="ProjectListDisplay">
        <div class="ProjectDisplay">
            <div class="TitleContainer">
                 <h1 class="title"> Title</h1>
                 <p class="StudentDisplay"> 3/5</p>
            </div>
            <p> Description </p>
            
            
            <ul>
                <li> Tag1</li>
                <li> Tag2</li>
                <li> Tag3</li>
            </ul>
        </div>

        <div class="ProjectDisplay">
            <div class="TitleContainer">
                 <h1 class="title"> Title2</h1>
                 <p class="StudentDisplay"> 3/5</p>
            </div>
            <p> Description </p>
            
            
            <ul>
                <li> Tag1</li>
                <li> Tag2</li>
                <li> Tag3</li>
            </ul>
        </div>
    </div>
</div>

<div>
    <h2> Your Selection </h2>
</div>

    

