@page "/"
@attribute [AllowAnonymous]
@inject HttpClient Http
@inject NavigationManager NavigationManager

<PageTitle>Index</PageTitle>

<h1 class="mb-3">Welcome</h1>

<head>
    <link rel="stylesheet" href="Index.razor.css">
</head>

<div class="buffer_20"></div>

<div>
    <h2 class="align"> Your Projects </h2>
    <div class="ProjectListDisplay">
        @foreach (var project in projects)
    {
        <div class="ProjectDisplay">
            <div class="TitleContainer">
                <h1 class="Title">@project.Title</h1>
                 <div class="StudentDisplay">
                    <p class="StudentContent">@project.UserIDs.Count()/@project.MaxStudents</p>
                 </div>
            </div>
            <p class="Description">@project.Description</p>
            <div class="TagDisplay">
                <ul>
                    <li> Tag1 Long Name</li>
                    <li> Tag2</li>
                    <li> Tag3</li>
                </ul>
            </div>
            <div class="ButtonDisplay">
            <a href ="Projects/@project.Id" class="btn btn-primary">View More</a>
            </div>
            </div>
    }
    
    </div>
</div>

<!--
<div>
    <h2 class="mt-4 align"> Your Selection -- To be implemented </h2>
    <div class="ProjectListDisplay">
        
        <div class="ProjectDisplay">
            <div class="TitleContainer">
                <h1 class="Title"> Title2</h1>
                 <div class="StudentDisplay">
                    <p class="StudentContent">3/5</p>
                 </div>
            </div>
            <p class="Description">  big description big description big description. big description, big description big description. big description </p>
            <div class="TagDisplay">
                <ul>
                    <li> Tag1</li>
                </ul>
            </div>
             <div class="ButtonDisplay">
            <a href ="#" class="btn btn-primary">View More</a>
            </div>
        </div>


        <div class="ProjectDisplay">
            <div class="TitleContainer">
                 <h1 class="Title"> Title3</h1>
                 <div class="StudentDisplay">
                    <p class="StudentContent">5/5</p>
                 </div>
            </div>

            <p class="Description"> Shitty project </p>
            <div class="TagDisplay">
                <ul>
                    <li> Tag1</li>
                    <li> Tag2</li>
                    <li> Tag3</li>
                    <li> Tag4</li>
                </ul>
            </div>
            <div class="ButtonDisplay">
            <a href ="#" class="btn btn-primary">View More</a>
            </div>
        </div>

        <div class="ProjectDisplay">
            <div class="TitleContainer">
                 <h1 class="Title"> Title3</h1>
                 <div class="StudentDisplay">
                    <p class="StudentContent">5/5</p>
                 </div>
            </div>

            <p class="Description"> Shitty project </p>
            <div class="TagDisplay">
                <ul>
                    <li> Tag1</li>
                    <li> Tag2</li>
                    <li> Tag3</li>
                    <li> Tag4</li>
                    <li> Tag5</li>
                </ul>
            </div>
             <div class="ButtonDisplay">
            <a href ="#" class="btn btn-primary">View More</a>
            </div>
        </div>
    </div>
</div>
-->

@code{
string more = "View more";
    
    private ProjectDTO[]? projects;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            projects = await Http.GetFromJsonAsync<ProjectDTO[]>($"api/Projects");
         
        } catch(Exception e)
        {
            Console.WriteLine(e.Message);
        }
    }
}